* {
	urgent:                             #bf616a;
    selected:                           #81a1c1;
	active:							    #a3be8c;
    foreground-alt:                     #d8dee9;
    background-alt:                     #111820;
    foreground:                         #e5e9f0;
	lighter-black:                      #111820;
    background:                         #090c10;
}
